[flake8]
# single var names used are clear
ignore = F401
# match black line length
max-line-length = 88
per-file-ignores =
    # star imports okay in tests
    test_algorithms.py: F403, F405
    test_board.py: F403, F405
    test_heuristics.py: F403, F405
    test_nn.py: F403, F405
